@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--spacing: 1em;
    --main-typeface:
}

h1{
    font-family:"Jua", sans-serif;
    font-size:38px;
    font-weight:400;
    color:#6b768f;
    padding-bottom:-5px;
}

h2{
    font-family:"Inter", sans-serif;
    font-size:18px;
    font-weight:400;
    color:#6b768f;
}

h3{
    font-family:"Inter", sans-serif;
    font-size:16px;
    color:#6b768f;
}

p{
    font-family:"Inter", sans-serif;
    color: #6b768f;
    font-size:16px;
    padding-top:0.5rem;
}

body{
    font-family:"Inter", sans-serif;
    font-size:14px;
    background-color:#f9f7ef;
    height:100vh;
    scroll-behavior: smooth;
}

aside{
    padding:1.5rem;
}

form{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.header{
    padding-top:2rem;
    padding-left:1.5rem;
    padding-bottom:0rem;
}

/* search button */
.search-button{
    background-color:#d7d7d7;
    font-family: "Fredoka", sans-serif;
    font-size:14px;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius:0.4rem;
    align-content: end;
}

/* search bar */
#mySearch{
    background-color:#f1f1f1;
    font-family: "Fredoka", sans-serif;
    font-size:14px;
    color:#000000;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    border-radius:0.4rem;
    /* box-shadow: 0 4px 30px #0000001a; */
    /* backdrop-filter: blur(3px);
    object-fit:cover; */
    /* opacity:20%; */
}

/* filters */
.bttn-items{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.filter-container{
    /* background:white; */
    margin: 2rem 1.5rem 0.5rem 1.5rem;
    /* padding: 1rem; */
    border-radius: 1rem;    
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.filter-button{
    display:flex;
    flex-direction:column;
    text-align: center;
}


.happy-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.sad-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.thriller-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.romantic-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.mysterious-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.nostalgic-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.cheesy-filter{
    display: block;
    width:8rem;
    height:8rem;
}

.random-filter{
    display: block;
    width:8rem;
    height:8rem;
}



.search-icon{
    display:block;
    width:20px;
    height:20px;
}

ul {
	/* display:flex;
    flex-direction:row; */
}

li {
	display: flex;
    flex-direction:column;
    gap:1rem;
}



input:invalid ~ span::after {
    content: "✖";
    padding-left:1rem;
    position: absolute;
  }
  
  input:valid ~ span::after {
    content: "✓";
    padding-left:1rem;
    position: absolute;
  }

img{
    display:block;
    object-fit:cover;
    margin:auto;
}

.poster{
    width:5rem;
    height:auto;
}

#kdramaCard{
    padding:1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 30px #0000001a;
    /* opacity: 0%; */
}

ul {
    li {
        display: none;
    }
}

.show-happy{
    li{
		display:none;
	}

	li.vibeshappy {
		display:block;
	}
}

.show-blue{
    li{
		display:none;
	}

	li.vibesblue {
		display:block;
	}
}

.show-thriller{
    li{
		display:none;
	}

	li.vibesthriller {
		display:block;
	}
}

.show-neutral{
    li{
		display:none;
	}

	li.vibesneutral {
		display:block;
	}
}

.data-container{
    /* background-color: white; */
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(3px);
    left:2rem;
}

ul{
    display:grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    overflow:scroll;
}