@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    /* Typefaces related */
    --main-typeface:"Jua", sans-serif;
    --secondary-typeface:"Quicksand", sans-serif;
    --h1:38px;
    --h1-L:48px;
    --h2:18px;
    --h2-L:24px;
    --h3:16px;
    --h4:24px;
    --p:24px;
    --h1-weight:400;
    --h2-weight:600;

    /* Color */
    --text-color:#2d313d;
    --secondary-text-color:#636060;
    --bg-color:#f9f7ef;
    --filter-size:8rem;
    --filter-sizeL:12rem;

    /* Sizes */
    --spacing:1rem;
    --urlIcon:1.5rem;
    --s-padding:0.5rem;
    --poster-size:20rem;
}

h1{
    font-family: var(--main-typeface);
    font-size:var(--h1);
    font-weight:var( --h1-weight);
    line-height:2.6rem;
    color:var(--text-color);
    padding-bottom:-5px;
}

h2{
    font-family:var(--secondary-typeface);
    font-size:var(--h2);
    font-weight:var(--h1-weight);
    color:var(--secondary-text-color);
    padding-top:0.5rem;
}

h3{
    font-family:var(--secondary-typeface);
    font-weight:var(--h2-weight);
    font-size:var(--h3);
    color:var(--text-color);
    padding-top:var(--s-padding);
}

h4{
    font-family:var(--secondary-typeface);
    font-size:var(--h3);
    font-weight:var(--h2-weight);
    color:var(--text-color);
    padding-bottom:calc(var(--s-padding) * 2);
    text-align: center;
}

p{
    font-family:var(--secondary-typeface);
    font-size:var(--p);
    color:var(--text-color);
    font-size:var(--h2);
}

body{
    font-family:var(--secondary-typeface);
    font-size:14px;
    background-color:var(--bg-color);
    height:100vh;
    scroll-behavior:smooth;
}

aside{
    padding:calc(var(--s-padding) * 1.5);
}

/* aside class */
.header{
    padding-top:calc(var(--s-padding) * 4);
    padding-left:calc(var(--s-padding) * 3);
    padding-bottom:0rem;
}

/* filter buttons container */
.bttn-items{
    display:flex;
    flex-direction:column;
    gap:var(--spacing);
}

/* main section class container */
.filter-container{
    /* background:white; */
    margin: 2rem 1.5rem 0.5rem 1.5rem;
    /* padding: 1rem; */
    border-radius:calc(var(--s-padding) * 2);   
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

/* button-class */
.filter-button{
    display:flex;
    flex-direction:column;
    text-align: center;
}

/* feel-good filter */
.filter-button:hover .feel-good-filter{
    display:none;
}

.filter-button:hover .feel-good-hover{
    display:block;
}

/* ugly-cry filter */
.filter-button:hover .ugly-cry-filter{
    display:none;
}

.filter-button:hover .ugly-cry-hover{
    display:block;
}

/* thriller filter */
.filter-button:hover .romantic-filter{
    display:none;
}

.filter-button:hover .romantic-hover{
    display:block;
}

/* mysterious filter */
.filter-button:hover .mysterious-filter{
    display:none;
}

.filter-button:hover .mysterious-hover{
    display:block;
}

/* thriller filter */
.filter-button:hover .thriller-filter{
    display:none;
}

.filter-button:hover .thriller-hover{
    display:block;
}

/* nostalgic filter */
.filter-button:hover .nostalgic-filter{
    display:none;
}

.filter-button:hover .nostalgic-hover{
    display:block;
}

/* cheesy-filter */
.filter-button:hover .cheesy-filter{
    display:none;
}

.filter-button:hover .cheesy-hover{
    display:block;
}

/* spontaneous-filter */
.filter-button:hover .spontaneous-filter{
    display:none;
}

.filter-button:hover .spontaneous-hover{
    display:block;
}

/* all vibes filter button */
.feel-good-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
    transition: opacity 0.3s ease;
}
.feel-good-hover{
    display:none;
}

.ugly-cry-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.ugly-cry-hover{
    display:none;
    width:var(--filter-size);
    height:var(--filter-size);
}

.thriller-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.thriller-hover{
    display:none;
}

.romantic-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.romantic-hover{
    display:none;
}

.mysterious-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.mysterious-hover{
    display:none;
}

.nostalgic-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.nostalgic-hover{
    display:none;
}

.cheesy-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.cheesy-hover{
    display:none;
}

.spontaneous-filter{
    display: block;
    width:var(--filter-size);
    height:var(--filter-size);
}

.spontaneous-hover{
    display:none;
}


li {
	display: flex;
    flex-direction:column;
    gap:var(--s-padding);
}

img{
    display:block;
    object-fit:cover;
    /* margin:auto; */
}

.poster{
    width:var(--poster-size);
    height:28rem;
    display:block;
    object-fit:cover;
    margin:auto;
    border-radius:var(--s-padding);
    overflow:hidden;
}

ul {
    li {
        display: none;
    }
}

.show-feelGood{
    li{
		display:none;
	}

	li.vibesfeelGood {
		display:block;
	}
}

.show-uglyCry{
    li{
		display:none;
	}

	li.vibesuglyCry {
		display:block;
	}
}

.show-thriller{
    li{
		display:none;
	}

	li.vibesthriller {
		display:block;
	}
}

.show-romantic{
    li{
		display:none;
	}

	li.vibesromantic {
		display:block;
	}
}

.show-mysterious{
    li{
		display:none;
	}

	li.vibesmysterious {
		display:block;
	}
}

.show-nostalgic{
    li{
		display:none;
	}

	li.vibesnostalgic {
		display:block;
	}
}

.show-cheesy{
    li{
		display:none;
	}

	li.vibescheesy {
		display:block;
	}
}

.show-spontaneous{
    li{
		display:none;
	}

	li.vibesspontaneous {
		display:block;
	}
}

.bg-feelgood { background-color: #FFED69; }
.bg-uglycry { background-color: #83CFFF; }
.bg-thriller { background-color: #FF8680; }
.bg-romantic { background-color: #FFBBE1; }
.bg-mysterious { background-color: #C6A8FF; }
.bg-nostalgic { background-color: #8EE8F1; }
.bg-cheesy { background-color: #FFBE5D; }
.bg-spontaneous { background-color: #DAF17A; }

/* where to watch icon */
.streamIcon{
    width:var(--urlIcon);
    height:var(--urlIcon);
}

/* my data.json section*/
.data-container{
    overflow:hidden;
    left:var(--urlIcon);
    padding:var(--s-padding);
    height:100vh;
    display:none;
    flex-direction:column;
}

/* ul id */
#data-list{
    display:flex;
    flex-direction:row;
    overflow-x:hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* padding-bottom: 1rem; */
}

#data-list li{
    flex: 0 0 100%;
    scroll-snap-align:center;
}

#prevBtn, #nextBtn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

#prevBtn img, #nextBtn img {
	width: 2rem;
	height: 2rem;
	display: block;
}

#prevBtn:disabled,
#nextBtn:disabled {
    background-color:none;
    cursor: default;
}

.nav-buttons {
	display:none;
	justify-content: center;
	align-items: center;
	gap: 1rem; /* space between buttons */
	margin-top: 1rem;
}

.card-footer{
    display:none;
    justify-content:space-between;
    align-items:center;
    margin-top:var(--s-padding);
    padding:0.5rem;
    bottom:0;
    display:none;
    justify-content: flex-end;
}

.vibes-title{
    font-size:18px;
    font-weight:400;
    padding-top:0.5rem;
}

.movieCard{
    background-color:var(--bg-color);
    padding-top:1.5rem;
    max-width:22rem;
    margin:auto;
    border-radius:0.4rem;
    justify-content: center;
}

.mapVibe{
    font-family:var(--main-typeface);
    font-size:var(--h1);
    padding-top:1rem;
    padding-left:0.2rem;
    padding-bottom:0.4rem;
    color:var(--text-color);
    justify-items:center;
}

.back-to-top{
    text-decoration: none;
    font-size:calc(var(--s-padding) * 3);
    color:var(--text-color);
    cursor: pointer;
}

ul{
    display:grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    overflow:scroll;
}

.movieTitle{
    padding-left:var(--s-padding);
}

.watchWhere{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding:var(--s-padding);
    color:var(--text-color);
}

.top-wrapper{
    height:100vh;
    overflow:hidden;
}

@media (min-width:1280px){
h1{
    font-family: var(--main-typeface);
    font-size:var(--h1-L);
    font-weight:var( --h1-weight);
    line-height:3.2rem;
}
    
h2{
    font-family:var(--secondary-typeface);
    font-size:var(--h2-L);
    font-weight:500;
    color:var(--secondary-text-color);
    padding-top:1rem;
}

h4{
    font-size:var(--h3);
}

/* filter buttons container */
.bttn-items{
    display:flex;
    flex-direction:row;
    gap:inherit;
}

.filter-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    /* height:100vh; */
    justify-content:center;
}

/* my data.json section*/
.data-container{
    display:hidden;
    height:100vh;
}

/* all vibes filter button */
.feel-good-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.feel-good-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.ugly-cry-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.ugly-cry-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.thriller-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.thriller-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.romantic-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.romantic-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.mysterious-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.mysterious-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.nostalgic-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.nostalgic-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}
.cheesy-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.cheesy-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.spontaneous-filter{
    display: block;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
}

.spontaneous-hover{
    display:none;
    width:var(--filter-sizeL);
    height:var(--filter-sizeL);
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.card-footer{
    display:none;
}

.movieCard{
    background-color:var(--bg-color);
    padding-top:1.5rem;
    max-width:23rem;
    margin:auto;
    border-radius:0.4rem;
    justify-content: center;
}

}